<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!-- General logging settings -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ErrorLogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message%newline" />
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\Logs\OldFileArchiver.log" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="true" />
      <param name="MaxSizeRollBackups" value="20" />
      <param name="MaximumFileSize" value="50MB" />
      <param name="RollingStyle" value="Size" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#xD;&#xA; &#xD;&#xA;%date********** OldFileArchiver logging started **********&#xD;&#xA; &#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA; &#xD;&#xA;%date********** OldFileArchiver logging ended **********&#xD;&#xA; &#xD;&#xA;" />
        <conversionPattern value="%date %-5level %message%newline" />
      </layout>
    </appender>

    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="WARN" />
      <param name="File" value=".\Logs\OldFileArchiver.Error.log" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="true" />
      <param name="MaxSizeRollBackups" value="20" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="RollingStyle" value="Size" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#xD;&#xA; &#xD;&#xA;%date********** OldFileArchiver logging started **********&#xD;&#xA; &#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA; &#xD;&#xA;%date********** OldFileArchiver logging ended **********&#xD;&#xA; &#xD;&#xA;" />
        <conversionPattern value="%date %-5level %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>